.password__label {
  width: 100%;
  display: inline-grid;
  justify-content: start;
  gap: 10px;
  box-sizing: border-box;
  align-items: center;
}

.password__input {
  border: none;
  padding: 0;
  border-radius: 0;
}

.password__input:focus-visible {
  outline: none;
}

.password__view {
  display: grid;
  width: 20px;
  height: 20px;
  background: url('../../assets/view.png');
  background-size: 100%;
  object-fit: cover;
  border: none;
}

.password__view-active {
  background: url('../../assets/hide.png') no-repeat;
  background-size: 100%;
  object-fit: cover;
}

.password__input:focus ~ .password__label {
  outline: 2px solid black;
}
