:root {
  --textColor: #312426;
  --primaryColor: #ffa800;
  --accentColor: #1168a7;
  --backgroundColor: #fff;
  --backgroundAccentColor: #ffe99c;
  --defaultFontSize: 20px;
  --defaultIndent: 120px;
  --maxContentWidth: 1250px;

  font-family: 'Montserrat', serif;
  font-weight: 500;
  font-size: var(--defaultFontSize);

  color: var(--textColor);
  background-color: var(--backgroundColor);
  margin: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--textColor);
}

a:visited {
  color: var(--textColor);
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
  overflow: hidden;
  box-sizing: border-box;
}

textarea:read-only {
  outline: none;
}

.zod-error {
  color: var(--accentColor);
  margin: 0;
}

.hidden {
  display: none;
}

.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error h2 {
  margin: 0;
  font-size: 100px;
  color: var(--accentColor);
  text-align: center;
}

.error h3 {
  text-align: center;
}

.error a,
.message a {
  text-decoration: underline;
  color: var(--accentColor);
}
