:root {
  --textColor: #312426;
  --primaryColor: #ffa800;
  --accentColor: #1168a7;
  --backgroundColor: #fff;
  --backgroundAccentColor: #ffe99c;
  --defaultFontSize: 20px;
  --defaultIndent: 120px;
  --maxContentWidth: 1250px;

  font-family: 'Montserrat', serif;
  font-weight: 500;
  font-size: var(--defaultFontSize);

  color: var(--textColor);
  background-color: var(--backgroundColor);
  margin: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--textColor);
}

a:visited {
  color: var(--textColor);
}

.logo {
  width: 100%;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
  overflow: hidden;
  box-sizing: border-box;
}

.zod-error {
  color: var(--accentColor);
  margin: 0;
}

.hidden {
  display: none;
}
